<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FileExplorer.Properties.Settings>
            <setting name="lastScanDate" serializeAs="String">
                <value>11/03/2021 23:21:00</value>
            </setting>
            <setting name="folder" serializeAs="String">
                <value />
            </setting>
            <setting name="afterFistBackUp" serializeAs="String">
                <value>False</value>
            </setting>
        </FileExplorer.Properties.Settings>
    </userSettings>
</configuration>